body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.top-nav {
  box-shadow: none;
}
main {
  flex: 1 0 auto;
}
.loading {
  margin: 60px 0;
  text-align: center;
}
.buttons-bar {
  margin: 20px 0;
}
.buttons-bar:after {
  content: '';
  display: block;
  clear: both;
}
.last-update {
  display: inline-block;
  line-height: 36px;
}
.add-station-component {
  position: relative;
  float: right;
  display: inline-block;
}
.add-station-component .overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: .000001;
}
.add-station-component .collection {
  position: absolute;
  z-index: 101;
  top: 36px;
  right: 0;
}
.add-station-component .collection .overflow {
  width: 400px;
  max-height: 300px;
  overflow: scroll;
}
@media (max-width: 450px) {
  .add-station-component .collection .overflow {
    width: 280px;
  }
}
.add-station-component .collection .collection-header .input-field,
.add-station-component .collection .collection-header .input-field input {
  margin: 0;
}
.welcome-info-box {
  margin: 40px 0;
}
.welcome-info-box .card-content p {
  margin: 10px 0;
}
.welcome-info-box .card-content p:last-child {
  margin-bottom: 0;
}
.station-row {
  position: relative;
}
.station-row h5 {
  margin: 5px 0;
  line-height: 26px;
}
.station-row .remove-button {
  float: right;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.station-row .badge {
  margin: 7px 0;
}
.station-row .warning-icon {
  position: absolute;
  top: 23px;
  right: 24px;
  margin: 4px 0;
}
.station-row .value {
  font-weight: 500;
}
.station-row .unit {
  font-style: italic;
}
.station-row .no-data {
  opacity: .5;
}
